# Logs and Dynamic Output
*.log
src/server/logs/output/*

!src/server/logs/output/.gitkeep

# Client specific output
src/server/logs/output/clients/*
!src/server/logs/output/clients/
!src/server/logs/output/clients/.gitkeep


# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment and Secrets
.env
.safeproxy/*
!.safeproxy/.gitkeep

# Certificates and Keys
# We keep the folder structure but ignore the actual generated creds
certs/*
!certs/.gitkeep
*.crt
*.key
*.pem

# Virtual Environments
venv/
.venv/
env/

# Databases
# Ignore all DB files but keep the directory via gitkeep
*.db
*.db-journal
*.sqlite3
*.db-wal

!src/server/db/.db/
src/server/db/.db/*
!src/server/db/.db/.gitkeep

# Editor Settings
.vscode/*